.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.county.active {
  fill: darkcyan;
  stroke-width: 0.2;
}

.county.county_zoomed {
  stroke-width: 0;
}

.county {
  transition: fill 1.5s ease-out;
  fill: darkgray;
  stroke: darkcyan;
  stroke-width: 1.2;
  pointer-events: all;
}

.county:hover {
  fill: whitesmoke;
  stroke: darkcyan;
}

.municipality {
  fill: none;
  stroke: gray;
  stroke-width: 0.5;
  pointer-events: none;
}

.municipality.county_zoomed {
  stroke-width: 0.2;
}

.polling_district {
  fill: lightcyan;
  stroke: darkcyan;
  stroke-width: 0.5;
  pointer-events: all;
}

div.tooltip {
  display: inline-block;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  background: whitesmoke;
  color: darkcyan;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  z-index: 9999;
  visibility: visible;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
